---
import BaseLayout from '../layouts/BaseLayout.astro'
import Footer from '../components/Footer.astro'
import { CONTACT_EMAIL } from '../lib/site'
---

<BaseLayout
  lang="de"
  title="Datenschutzerklärung | eckstein.io"
  description="Datenschutzerklärung von eckstein.io gemäß DSGVO."
  ogTitle="Datenschutzerklärung | eckstein.io"
  ogDescription="Datenschutzerklärung von eckstein.io gemäß DSGVO."
  path="/datenschutz/"
  withAlternates={false}
>
  <main class="legal">
    <p><a class="back" href="/">← eckstein.io</a></p>
    <h1>Datenschutzerklärung</h1>

    <p>
      Nachfolgend möchten wir Sie über den Datenschutz auf unserer Website sowie über Art, Umfang
      und Zweck der von uns erhobenen, genutzten und verarbeiteten personenbezogenen Daten
      informieren. Datenschutz hat einen hohen Stellenwert für uns. Wir verwenden das generische
      Maskulinum um den Lesefluss zu vereinfachen. Sämtliche Personenbezeichnungen gelten
      gleichermaßen für alle Geschlechter.
    </p>
    <p>
      Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden
      könnten, so z.B. Name, IP-Adresse, Telefonnummer, usw. Diese Daten werden teilweise
      automatisch beim Besuch der Website verarbeitet (z.B. IP-Adresse, Browsertyp,
      Betriebssystem, etc), oder wenn Sie uns Ihre Einwilligung zur Verarbeitung geben, bzw. wenn
      Sie uns Ihre Daten freiwillig mitteilen.
    </p>
    <p>Weiterhin möchten wir Sie über die Ihnen zustehenden Rechte nach DSGVO aufklären.</p>
    <p>
      Sie haben jederzeit das Recht, unentgeltlich Auskunft über Herkunft, Empfänger und Zweck
      Ihrer bei uns verarbeiteten personenbezogenen Daten zu erhalten, sowie das Recht zur
      Berichtigung oder Löschung dieser Daten.
    </p>
    <p>
      Sie haben weiterhin das Recht, unter bestimmten Umständen die Einschränkung der
      Verarbeitung Ihrer personenbezogenen Daten zu verlangen. Wenn Sie uns eine Einwilligung zur
      Datenverarbeitung erteilt haben, können Sie diese Einwilligung jederzeit für die Zukunft
      widerrufen. Weiterhin steht Ihnen ein Beschwerderecht bei der zuständigen
      Datenschutz-Aufsichtsbehörde zu.
    </p>

    <p>Verantwortlicher für den Datenschutz / verarbeitende Stelle ist:</p>
    <p>
      <strong>Benjamin Eckstein</strong><br />
      Karl-Marx-Str. 126<br />
      14532 Kleinmachnow
    </p>
    <p>
      Telefon: +49 157 73822343<br />
      E-Mail: <a href={`mailto:${CONTACT_EMAIL}`}>{CONTACT_EMAIL}</a>
    </p>

    <h2>Verarbeitung Ihrer Daten im Rahmen der von uns erbrachten Leistungen</h2>
    <p>
      Bei unseren Kunden oder Geschäftspartnern, oder für den Fall, dass Sie sich für unsere
      Leistungen interessieren, richten sich Art, Umfang und Zweck der Verarbeitung Ihrer
      personenbezogenen Daten nach den zwischen uns bestehenden vertraglichen bzw.
      vorvertraglichen Beziehungen. Wir verarbeiten hierbei personenbezogene Daten, die wir von
      Ihnen abfragen, oder die Sie uns bereitstellen, um Ihre Anfrage zu beantworten, Ihnen ein
      Angebot zu erstellen oder Ihre Bestellung zu bearbeiten.
    </p>
    <p>
      Sofern sich aus den weiteren Hinweisen dieser Datenschutzerklärung nichts anderes ergibt,
      beschränkt sich die Verarbeitung Ihrer Daten, sowie deren Weitergabe an Dritte auf
      diejenigen Daten, die zur Beantwortung Ihrer Anfragen und/oder zur Erfüllung des Vertrages,
      zur Wahrung unserer Rechte, sowie zur Erfüllung gesetzlicher Pflichten erforderlich und
      zweckmäßig sind.
    </p>
    <p>Betroffene Daten sind:</p>
    <ul>
      <li>Bestandsdaten (bspw. Namen, Adressen)</li>
      <li>Zahlungsdaten (bspw. Bankverbindungsdaten, Rechnungen)</li>
      <li>Kontaktdaten (bspw. E-Mail-Adresse, Telefonnummer, Postanschrift)</li>
      <li>Vertragsdaten (bspw. Vertragsgegenstand, Vertragsdauer)</li>
    </ul>
    <p>
      Rechtsgrundlage der Datenverarbeitung ist Art. 6 I 1 lit. b DSGVO, die Vertragserfüllung
      bzw. die Erfüllung vorvertraglicher Anfragen.
    </p>
    <p>
      Soweit in dieser Datenschutzerklärung keine spezielle Speicherdauer genannt wird, speichern
      wir Ihre personenbezogenen Daten bis der Zweck für die Datenverarbeitung entfällt. Wir
      löschen Ihre personenbezogenen Daten, wenn wir diese nicht mehr benötigen, d.h. nach
      Beendigung der zwischen uns bestehenden vertraglichen Beziehungen, oder nach Wegfall
      unseres berechtigten Interesses an der weiteren Verarbeitung der Daten, oder wenn Sie uns
      zur Löschung auffordern. Zwingende gesetzliche Bestimmungen, insbesondere gesetzliche
      Aufbewahrungsfristen, bleiben unberührt.
    </p>

    <h2>
      Aufruf der Website: Verarbeitung personenbezogener Daten sowie Art und Zweck der
      Verwendung
    </h2>
    <p>
      Wenn Sie unsere Website aufrufen, übermitteln Sie (aus technischer Notwendigkeit) über
      Ihren Internetbrowser Daten an unseren Webserver. Nachfolgende Daten werden während einer
      laufenden Verbindung zur Kommunikation zwischen Ihrem Internetbrowser und unserem Webserver
      in den Server-Logfiles verarbeitet:
    </p>
    <ul>
      <li>die Seite, von der aus die Datei angefordert wurde (Referrer URL)</li>
      <li>der Name der Datei</li>
      <li>das Datum und die Uhrzeit der Anfrage</li>
      <li>
        eine Beschreibung des Typs des verwendeten Webbrowsers / Browserversion und
        Betriebssystem
      </li>
      <li>IP-Adresse des anfragenden Rechners</li>
      <li>Zugriffsstatus (Datei übertragen, Datei nicht gefunden, etc.)</li>
      <li>Übertragene Datenmenge</li>
    </ul>
    <p>
      Aus technischen Gründen (Aufruf der Website) werden diese Daten kurzzeitig gespeichert. Ein
      Rückschluss auf einzelne Personen ist uns anhand dieser Daten nicht möglich. Nach
      spätestens 7 Tagen werden die IP-Adressen gelöscht bzw. anonymisiert.
    </p>
    <p>Die genannten Daten werden zu folgenden Zwecken verarbeitet:</p>
    <ul>
      <li>Gewährleistung eines ordnungsgemäßen und reibungslosen Verbindungsaufbaus der Website,</li>
      <li>Gewährleistung einer komfortablen Nutzung der Website,</li>
      <li>Auswertung der Systemsicherheit und -stabilität</li>
    </ul>
    <p>
      Die Rechtsgrundlage für die Datenverarbeitung ist Art. 6 I S. 1 lit. f DSGVO. Das
      berechtigte Interesse folgt aus oben aufgelisteten Zwecken zur Datenerhebung. In keinem
      Fall verwenden wir die erhobenen Daten zu dem Zweck, Rückschlüsse auf Ihre Person zu
      ziehen. Sie können die Webseite besuchen, ohne Angaben zu Ihrer Person zu machen.
    </p>

    <h2>Anfragen per E-Mail oder Telefon</h2>
    <p>
      Wenn Sie uns per E-Mail oder Telefon kontaktieren, wird Ihre Anfrage inklusive aller daraus
      hervorgehenden personenbezogenen Daten (z.B. Name, Anfrage) zum Zwecke der Bearbeitung
      Ihres Anliegens bei uns gespeichert und verarbeitet. Eine Weitergabe der Daten ohne Ihre
      Einwilligung erfolgt nicht.
    </p>
    <p>
      Die Verarbeitung dieser Daten erfolgt auf Grundlage von Art. 6 I S 1 lit. b DSGVO, sofern
      Ihre Anfrage mit der Erfüllung eines Vertrags zusammenhängt oder zur Durchführung
      vorvertraglicher Maßnahmen erforderlich ist. In allen übrigen Fällen beruht die
      Verarbeitung auf Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO) und / oder auf unserem
      berechtigten Interesse (Art. 6 I S 1 lit. f DSGVO).
    </p>
    <p>
      Die an uns per Kontaktanfragen übersandten Daten werden bei uns gespeichert, bis Sie uns
      zur Löschung auffordern, Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für
      die Datenspeicherung entfällt. Zwingende gesetzliche Bestimmungen, insbesondere
      gesetzliche Aufbewahrungsfristen, bleiben unberührt.
    </p>

    <h2>Onlinepräsenzen in sozialen Netzwerken</h2>
    <p>
      Wir betreiben Onlinepräsenzen in sozialen Netzwerken zu werblichen Zwecken. Verantwortlich
      für die Unternehmensauftritte im Sinne der DSGVO sowie sonstiger datenschutzrechtlicher
      Bestimmungen ist neben dem Seitenbetreiber:
    </p>
    <ul>
      <li>LinkedIn: LinkedIn Ireland Unlimited Company, Wilton Place, Dublin 2, Irland</li>
      <li>GitHub: GitHub, Inc., 88 Colin P Kelly Jr St, San Francisco, CA 94107, USA</li>
    </ul>
    <p>
      Wir weisen Sie darauf hin, dass Sie die sozialen Dienste und deren Funktionen in eigener
      Verantwortung nutzen. Dies gilt insbesondere für die Nutzung von interaktiven Funktionen
      (z.B. Teilen, Bewerten).
    </p>
    <p>
      Besuchen Sie unsere Onlinepräsenzen in sozialen Medien, werden durch den jeweiligen
      Anbieter, zu Werbe- und Marktforschungszwecken, personenbezogene Daten erhoben und
      verarbeitet. Um zu vermeiden, dass Betreiber sozialer Medien während Ihres Besuchs auf
      unseren Webseiten Informationen über Sie sammeln, sollten Sie sich vor Beginn des Besuchs
      bei dem jeweiligen sozialen Medium ausloggen und möglicherweise vorhandene Cookies löschen.
    </p>

    <h2>Datensicherheit: SSL-Verschlüsselung</h2>
    <p>
      Wir verwenden auf unserer Webseite das SSL-Verfahren (Secure Socket Layer) zur
      Verschlüsselung und zum Schutz der Übertragung vertraulicher Inhalte. Wenn die
      SSL-Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von
      Dritten mitgelesen werden.
    </p>

    <h2>Verarbeitung/Weitergabe von Daten</h2>
    <p>
      Eine Übermittlung Ihrer persönlichen Daten an Dritte zu anderen als den im Vorstehenden
      aufgeführten Zwecken findet nicht statt.
    </p>
    <p>Wir geben Ihre persönlichen Daten nur an Dritte weiter, wenn:</p>
    <ul>
      <li>
        Sie Ihre nach Art. 6 I S. 1 lit. a DSGVO ausdrückliche Einwilligung dazu erteilt haben,
      </li>
      <li>
        dies gesetzlich zulässig und nach Art. 6 I S. 1 lit. b DSGVO für die Erfüllung von
        Vertragsverhältnissen erforderlich ist,
      </li>
      <li>
        für die Weitergabe nach Art. 6 I S. 1 lit. c DSGVO eine gesetzliche Verpflichtung
        besteht,
      </li>
      <li>
        die Verarbeitung nach Art. 6 I S. 1 lit. f DSGVO zur Wahrung berechtigter Interessen
        erforderlich ist, sofern nicht Grundrechte der betroffenen Person überwiegen.
      </li>
    </ul>

    <h2>Betroffenenrechte</h2>
    <p>Sie haben das Recht:</p>
    <ul>
      <li>
        gemäß Art. 15 DSGVO Auskunft über Ihre von uns verarbeiteten personenbezogenen Daten zu
        verlangen;
      </li>
      <li>
        gemäß Art. 16 DSGVO unverzüglich die Berichtigung unrichtiger oder Vervollständigung
        Ihrer gespeicherten Daten zu verlangen;
      </li>
      <li>gemäß Art. 17 DSGVO die Löschung Ihrer bei uns gespeicherten Daten zu verlangen;</li>
      <li>gemäß Art. 18 DSGVO die Einschränkung der Verarbeitung zu verlangen;</li>
      <li>
        gemäß Art. 20 DSGVO Ihre Daten in einem strukturierten, gängigen und maschinenlesbaren
        Format zu erhalten;
      </li>
      <li>gemäß Art. 7 III DSGVO Ihre Einwilligung jederzeit zu widerrufen;</li>
      <li>gemäß Art. 77 DSGVO sich bei einer Aufsichtsbehörde zu beschweren.</li>
    </ul>

    <h2>
      Widerspruchsrecht gegen die Datenerhebung in besonderen Fällen sowie gegen Direktwerbung
      (Art. 21 DSGVO)
    </h2>
    <p>
      Sofern wir zur Wahrung unserer im Rahmen einer Interessenabwägung überwiegenden
      berechtigten Interessen Ihre personenbezogenen Daten gemäß Art. 6 I S. 1 lit. f DSGVO
      verarbeiten, haben Sie das Recht, gemäß Art. 21 DSGVO Widerspruch mit Wirkung für die
      Zukunft gegen die Verarbeitung Ihrer personenbezogenen Daten einzulegen.
    </p>
    <p>
      Möchten Sie von Ihrem Widerspruchsrecht Gebrauch machen, genügt eine E-Mail an
      <a href={`mailto:${CONTACT_EMAIL}`}>{CONTACT_EMAIL}</a>.
    </p>

    <p>
      Auf unseren Webseiten findet keine automatische Entscheidungsfindung oder ein Profiling
      statt.
    </p>

    <h2>Änderung dieser Datenschutzerklärung</h2>
    <p>
      Durch die Weiterentwicklung unserer Website und Angebote darüber oder aufgrund geänderter
      gesetzlicher beziehungsweise behördlicher Vorgaben kann es notwendig werden, diese
      Datenschutzerklärung zu ändern. Die jeweils aktuelle Datenschutzerklärung kann jederzeit
      auf unserer Website abgerufen werden.
    </p>
    <p>Stand: 07/2026</p>
  </main>
  <Footer lang="de" />
</BaseLayout>
